h1{
    color: blue;
    text-align: center;
}
h2{
    color: green;
    font-style: italic;
    text-align: center;
}
p{
    font-family: sans-serif;
}
ul{
    line-height: 40px;
}
body{
    color: white;
    background-color: black;
    font-size: 20px;
    font-style: italic;
}
strong{
    font-weight: bolder;
}